[submodule "backend"]
	path = backend
	url = git@github.com:tenghongzou/Ara-symfony.git
[submodule "administration"]
	path = administration
	url = git@github.com:tenghongzou/Ara-administration.git
[submodule "services/notification"]
	path = services/notification
	url = git@github.com:tenghongzou/Ara-notification-service.git
[submodule "services/chat"]
	path = services/chat
	url = git@github.com:tenghongzou/Ara-chat-service.git
